/* tutorial */
#tutorial, #artical-list {
    color: #4f4f4f;
    margin-bottom: 100px;
}

#tutorial .image img {
    width: 100%;
}

#tutorial .info .title {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#tutorial .info .short-desc {
    font-size: 13px;
}

div.col-md-3 {
    padding: 0 4px;
}

#artical-list > .slick-dots {
    top: 108%
}

#artical-list > * {
    outline: none;
}

#video-list .video-itm {
    position: relative;
}

#video-list .slick-dots {
    top: 110%;
}

#video-list .video-itm .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
}

#video-list .video-itm .video-poster {
    width: 100%;
}

#download {
    background-image: url(../img/support/bg_support_desktop.png);
    height: 400px;
    width: 100%;
    position: relative;
    background-size: cover;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.download-content {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.download-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-btns span {
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    margin: 8px;
    font-weight: bold;
    white-space: nowrap;
    width: 250px;
}

.down-btn {
    background: #2E6CF6;
    color: #fff;
}

.guide-btn {
    background: #fff;
    color: #2E6CF6;
}

#download h3 {
    color: #fff;
    font-family: 'SF-Pro-Text Bold', sans-serif;
}

#download h3, .download-meta {
    margin-bottom: 20px;
}

.qa-search {
    height: 64px;
    border-radius: 12px;
    background: #EDF2FE;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    justify-content: space-between;
}

.qa-search input {
    border: none;
    outline: none;
    background: inherit;
    width: 95%;
    box-shadow: none !important;
}

.qa-search i {
    font-size: 24px;
}


#accordion {
    margin-bottom: 50px;
}

.accordion-item {
    margin: 16px 0;
    border-bottom: 1px solid #F2F2F2;
}

.accordion-head {
    color: #4f4f4f;
    margin-bottom: 16px;
}

.qa-title {
    font-weight: 600;
    color: #4F4F4F;
}
h2, h3, h4 {
    font-family: 'SF-Pro-Text Heavy', sans-serif;
}
h2, h3, h4 {
    color: #121E28;
}

/* accordion */
.accordion-content {
    border: 1px solid #F2F2F2;
    padding: 10px 18px;
    color: #71787E;
    display: none;
    font-size: 16px;
}

.accordion-btn {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #BDBDBD;
    margin-right: 8px;
    float: left;
}


.row {
    margin: 0 auto;
}

.accordion-btn-active {
    border: none !important;
    background: #00A3FF;
    color: #fff !important;
}

#tutorial h2 {
    margin-bottom: 40px;
    font-weight: 800;
    font-style: normal;
}

.icon-search::before{
    display: none!important;
}

.icon-search img {
    width: 30px;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 28px;
    }
    #tutorial .info .title {
        font-size: 18px;
        line-height: 24px;
    }
    .qa-search input {
        width: 100%;
    }
    #download {
        background-image: url(../img/support/bg_support_midmobi.png);
    }
    .video-itm .play-btn {
        width: 48px !important;
        height: 48px !important;
    }
}

@media screen and (max-width: 480px) {
    .download-btns {
        flex-wrap: wrap;
    }
    .down-btn.button, .guide-btn.button{
        width: 200px;
    }
    #download {
        background-image: url(../img/support/bg_support_smallmobi.png);
    }
}

@media screen and (max-width: 414px) {
    h2 {
        font-size: 22px;
    }
    #tutorial .info .title {
        font-size: 14px;
        line-height: 20px;
    }
    #tutorial .info .short-desc {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    h2 {
        font-size: 18px;
    }
    #tutorial .info .short-desc {
        font-size: 12px;
    }
    .video-itm .play-btn {
        width: 40px !important;
        height: 40px !important;
    }
}
